.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:0.8rem;
  height: 100vh;
  width: 100%;

  .background{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);
  }

  .logo{
    object-fit: contain;
  }

.textHome{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  text-align: center;
}

  .socialMediaSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    gap: 12px;
    margin-bottom: 1rem;

    .icon{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F3A11A;
      border-radius: .25rem;
      padding: 10px;
    }

  }
}

.itemOne, .item2, .item3, .item4, .item5{
    animation-duration: 600ms !important;
}

.item2{
  animation-delay: 100ms;
}

.item3{
  animation-delay: 200ms;
}

.item4{
  animation-delay: 300ms;
}

.item5{
  animation-delay: 400ms;
}


